<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>control</servlet-name>
        <servlet-class>controlador.control</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>grafico1</servlet-name>
        <servlet-class>controlador.grafico1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sube</servlet-name>
        <servlet-class>controlador.sube</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>grafico2</servlet-name>
        <servlet-class>controlador.grafico2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>grafico3</servlet-name>
        <servlet-class>controlador.grafico3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>grafico4</servlet-name>
        <servlet-class>controlador.grafico4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>grafico5</servlet-name>
        <servlet-class>controlador.grafico5</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>control</servlet-name>
        <url-pattern>/control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>grafico1</servlet-name>
        <url-pattern>/grafico1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sube</servlet-name>
        <url-pattern>/sube</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>grafico2</servlet-name>
        <url-pattern>/grafico2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>grafico3</servlet-name>
        <url-pattern>/grafico3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>grafico4</servlet-name>
        <url-pattern>/grafico4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>grafico5</servlet-name>
        <url-pattern>/grafico5</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
